 .containerExt, .containerInt{
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
 }

 /* Animation */

@-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .containerExt{
    animation-direction: reverse;
  }
 
 
 /* Rectangle 2 */
.rectangle2{
    /* position: absolute;
    width: 53px;
    height: 53px;
    left: 975px;
    top: 572.34px;
    border: 2px solid black;
    background-color: yellow; */
    /* background: radial-gradient(79.65% 79.65% at 17.75% 20.35%, #403E38 0%, #181713 100%); */
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    /* border-radius: 235px; */
    /* transform: rotate(180deg); */
    position: absolute;
    width: 670px;
    height: 581px;
    left: 366px;
    top: 152.34px;
    background: linear-gradient(180deg, #FFDD5B 0%, #E29A1F 100%);
    border-radius: 4px;
}
  
  /* Rectangle 5 */
  .rectangle5{
    position: absolute;
    width: 406px;
    height: 406px;
    left: 409px;
    top: 284.34px;
    border: 2px solid black;
    background: linear-gradient(180deg, #3F3C37 0%, #191813 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 240px;
}

/* Rectangle 7 */
.rectangle7{
    position: absolute;
    width: 164px;
    height: 163px;
    left: 530px;
    top: 405.34px;
    background: linear-gradient(180deg, #3E3B36 0%, #1A1914 100%);
    box-shadow: -2px -4px 4px #3E3B36, 2px 4px 4px #1B1A15;
    border-radius: 159.5px;
}

/* Rectangle 6 */
.rectangle6{
    position: absolute;
    width: 108px;
    height: 108px;
    left: 558px;
    top: 433.34px;
    background: #3F3C37;
    box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.6);
    border-radius: 159.5px;    
}

/* Rectangle 4 */
/* .rectangle4{
    position: absolute;
    width: 416px;
    height: 416px;
    left: 404px;
    top: 278.34px;

    background: linear-gradient(180deg, #3F3C37 0%, #191813 100%);
    border-radius: 246px;
} */


/* Rectangle 47 LEFT */
.rectangle47Left{
    position: absolute;
    width: 215px;
    height: 581px;
    left: 129px;
    top: 152.34px;
    background: linear-gradient(180deg, #FFDD5B 0%, #E29A1F 100%);
    border-radius: 4px;
}

/* Rectangle 47 RIGHT */
.rectangle47Right{
    position: absolute;
    width: 76px;
    height: 76px;
    left: 910.09px;
    top: 508.34px;
    border-radius: 295px;
}

/* Rectangle 1 */
.rectangle1Wheel{
    position: absolute;
    width: 69px;
    height: 69px;
    left: 914px;
    top: 511.34px; 
    background: radial-gradient(79.65% 79.65% at 17.75% 20.35%, #403E38 0%, #181713 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 1px 6px 6px #A67313;
    border-radius: 235px;
}

/* Rectangle 86 */
.rectangle86Screen{
    position: absolute;
    width: 185px;
    height: 137px;
    left: 144px;
    top: 406.34px;
    background: linear-gradient(125.43deg, #1E1D19 -55.07%, #2C2A25 107.09%);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.player{
    max-width: 160px;
    justify-content: center;
}


input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #bada55;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}